# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# Build output
build/
*.dmg

# macOS
.DS_Store

# Xcode
*.xcuserdatad
xcuserdata/
DerivedData/

# Xcode
*.xcworkspace/xcuserdata/
Stash.xcodeproj/xcuserdata/
Stash.xcodeproj/project.xcworkspace/xcuserdata/
*.xcarchive
